//- Edit user button to change Username|Password|Email|Age|Answer to questions (similar link to ExpressMongoDB example project)
//- Log out button
extends layout 

block content 
    div(class="editUserButton")
        p Edit Profile
    div(class="logOutButton")
        p(onClick="") Log Out

    script()