//- Edit user button to change Username|Password|Email|Age|Answer to questions (similar link to ExpressMongoDB example project)
//- Log out button
extends layout 

block content 
    div(class="editUserButton")
        a(href="/editUser") Edit Profile
    div(class="logOutButton")
        a(href="/logout") Log Out
    div(class="vistedCount") You have visted: #{visitedCount} time(s)
    div 
        h2 Answer Graphs:
        h3 What is your favorite animal?
        canvas(id='canvas1')
        p ---------------------------
        h3 What is your prefered language?
        canvas(id='canvas2')
        p ---------------------------
        h3 Are you an Android?
        canvas(id='canvas3')
        p ---------------------------
        script(src="canvas.js") 
