doctype 
html 
    head 
        title=title 
        link(href='/style.css' rel='stylesheet')
        link(href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet")
    body
        section 
            block content 
        footer 
