//- Still needs form action
extends layout

block content 
    div(class="loginPage")
        form(class='form' method='post')
            p Username:
                br
                input(class='user-text' type='text' name='username')
            p Password:
                br
                input(class='user-text' type='text' name='password')
            p 
                input(class='button' type='submit' value='Log In')
            a(href="http://localhost:3000/newUser") Create New Account Here
    div(class="newUser")
        