//- Still needs form action and questions/answers
extends layout 

block content 
    div(class="newUserPage")
        form(method='post')
            p Username:
                br
                input(class='user-text' type='text' name='username')
            p Password:
                br
                input(class='user-text' type='text' name='password')
            p Email:
                br
                input(class='user-text' type='text' name='email')
            p Age:
                br
                input(class='user-text' type='number' name='age')

            P(class='questions') What is your favorite animal? 

                br
                label(for="Q1A1") Dog
                input(type="radio" name="Q1" id="Q1A1" value="dog")
                br
                label(for="Q1A2") Cat 
                input(type="radio" name="Q1" id="Q1A2" value="cat")
                br
                label(for="Q1A3") Goat 
                input(type="radio" name="Q1" id="Q1A3" value="goat")
                br
                label(for="Q1A4") Goose 
                input(type="radio" name="Q1" id="Q1A4" value="goose")

            P(class='questions') What is your perfered language? 
                br
                label(for="Q2A1") Eglish
                input(type="radio" name="Q2" id="Q2A1" value="english")
                br
                label(for="Q2A2") Korean 
                input(type="radio" name="Q2" id="Q2A2" value="korean")
                br
                label(for="Q2A3") Chinese 
                input(type="radio" name="Q2" id="Q2A3" value="chinese")
                br
                label(for="Q2A4") French
                input(type="radio" name="Q2" id="Q2A4" value="french")
            P(class='questions') Are you a android? 
                br
                label(for="Q3A1") Yes
                input(type="radio" name="Q3" id="Q3A1" value="yes")
                br
                label(for="Q3A2") No
                input(type="radio" name="Q3" id="Q3A2" value="no")
                br
                label(for="Q3A3") Maybe
                input(type="radio" name="Q3" id="Q3A3" value="maybe")
            p 
                input(class='button' type='submit' value='Create User')