/*================ UNIVERSAL STYLE ================*/

    html {
        background: #ff36a9;
        background: linear-gradient(90deg, #1f2a85 0%, #9938b5 50%, #ff36a9 100%);
        color: #fff;
        font-family: 'Mallanna', sans-serif;
    }

    .button {
        background-color: transparent;
        border: 2px solid white;
        color: #FFF;
        border-radius: 8px;
        width: 170px;
        margin: auto;
        padding: 5px;
        text-align: center;
        font-size: 15px;

    }

    .button:hover {
        color: #FFF;
        background-color: #5378e0;
        box-shadow: 0 2px 10px #5378e0;
        cursor: pointer;
    }

    .form {
        text-align: center;
    }

    a {
        color: gold;
    }

    .user-text {
        font-size: 18px;
        font-family: 'Mallanna', sans-serif;
        font-weight: bolder;
    }

/*=============== LOG IN PAGE STYLE ===============*/

    .loginPage {
        margin: auto;
        text-align: center;
        font-size: 24px;
        border: 4px solid #FFF;
        border-radius: 8px;
        width: 700px;
        padding: 10px
    }

    .newUser {
        margin: auto;
        text-align: center;
    }

/*=============== NEW USER PAGE STYLE =============*/

    .newUserPage {
        margin: auto;
        text-align: center;
        font-size: 18px;
    }

    .questions {
        font-size: 20px;
    }

/*============= INDEX/HOME PAGE STYLE ==============*/

    .editUserButton {

    }

    .logOutButton {

    }

/*================ EDIT USER PAGE STYLE ================*/